<!DOCTYPE html>

<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Festivals 17'</title>
</head>

<h1><%=page.name%></h1>

<% include ../partials/header %>

<img alt="festi" src="<%=page.img%>">
<br>
<a href="<%=page.link%>"><%= page.name %> Official Website</a>

</html>