<!DOCTYPE html>

<head>
  <title>Festivals 17'</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<h1>Music Festivals 2017 ❤️</h1>

<% pages.forEach(function (page) { %>
  <a href="<%= page.url %>"><%= page.name %></a>
<% }) %>

</html>