<title>Festivals 17'</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<h1><%=pages[1].name%></h1>

<% include ../partials/header %>


<img src="<%=pages[1].img%>">
<br>
<a href="<%=pages[1].link%>"><%= pages[1].name %> Official Website</a>