<title>Festivals 17'</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<h1><%=pages[2].name%></h1>

<% include ../partials/header %>


<img src="<%=pages[2].img%>">
<br>
<a href="<%=pages[2].link%>"><%= pages[2].name %> Official Website</a>
